main {
    background: var(--background-gradient-primary);
    padding: 5vw;
    gap: 1rem;
}

#logo {
    height: 6vh;
    width: 100%;
    background-image: url('../../../assets/images/tusks_logo_white.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
}

form {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    padding: 5%;

    label {
        color: var(--text-secondary);
    }

    :focus {
        outline: none;
    }

    #task-title {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid var(--solid-grey);
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0;
    }

    #task-title::placeholder {
        font-size: 1.5rem;
    }

    #task-desc {
        flex: 1;
        resize: none;
        border-radius: 0;
        border: none;
        font-size: 1rem;
        width: 100%;
    }
}