input {
    background-image: url('../../../assets/images/search.svg');
    background-size: 20px;
    background-repeat: no-repeat; 
    background-position: right;
    background-origin: content-box;
}