#list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}
.task-group {
  border-radius: 0;
  width: 90%;
}

h4 {
  font-size: 0.7rem;
  margin: 0.3rem;
}
