li {
    display: flex;
    align-items: center;
    gap: 5%;
    background-color: var(--solid-white);
    padding: 25px 20px;
    margin-bottom: 10px;
    box-shadow: var(--item-shadow);
    cursor: grab;
}

.checkbox {
    appearance: none;
    height: 28px;
    width: 28px;
    background-image: url('../../../../assets/images/task_mark_uncompleted.svg');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    border: 0;
    padding: 0;
    cursor: pointer;
}
  
.checkbox:checked {
    background-image: url('../../../../assets/images/task_mark_completed.svg');
}

.checkbox:focus {
    outline: 0;
}

.task-title {
    color: var(--text-secondary);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    cursor: pointer;
}

.task-title.done {
    color: var(--text-disabled);
    text-decoration: line-through;
}